
div.bg{
	background:#f1dada ;
	color:black;
	border-radius: 20px;
	font-size: 20px;
	text-transform: capitalize;
}
div.bg-light{
	border-radius: 30px;
	font-size: 20px;
	text-transform: capitalize;
}

.colorsSubtitulos{
 background-color: #bc625c;
 font-size:25px;
 
}
.borderFooter{
	border-top:3px solid #E2E2E2;
}
.textBlack{
	color:#000000;

}

.visible{display: block;}
.oculto{display: none;}
.row {
	margin: 0;
}
.borderFooter{
	border-top: 2px solid #E2E2E2;
}
.textBlack{
	color:#000000;
}
.mrCss{
	/*margin-right: 100%;*/
	margin-right: 90px;
}
.divInicio{
	align-items: center;
	text-align: center;
	background-color: #98403c;
/*	width: 100%;*/
/*	height: 1080px;*/

}

.imgInicio{
/*	height: 100%;*/
}



.white{
	background-color:#FFFFFF;
}

i{
	color: #98403c;
	font-size: 40px;
}


