.row {
	margin: 0;
}

a:link{
	text-decoration: none;
}
a:hover {
    color: white;
}
.cursorPC{
    cursor: pointer!important;
    /* Manita para ESP Y CAT */
}
div.bg{
	background:#f1dada ;
	color:black;
	border-radius: 20px;
	font-size: 20px;

}
div.bg-light{
	border-radius: 30px;
	font-size: 20px;
}

.colorsSubtitulos{
 font-size:25px;
 color: #bc625c;
 
}
.borderFooter{
	border-top:3px solid #E2E2E2;
}
.divInicio{
	background-color: #98403c;
}

.custom-btn-class {
	background-color: #98403c;
	color: white;
}

i{
	color: #98403c;
	font-size: 40px;
}
.container{
	padding: 0;
}

.backgroundVideos{
	background-color:#f1dada;
	padding-top: 15px;
	padding-bottom:15px;

}
@media (max-width: 575px){
	.menuPeq{
		font-size: 0.8em;
	}
	*{
		font-size: 1em;
	}
}
